
/* font face */
/* @font-face {
    font-family: 'Lancea Regular';
    src: url('../fonts/Lancea.otf') format('opentype');
} */

body {
    font-family: 'Lancea Regular', sans-serif ! important;
    margin: 0;
    padding: 0;
    background-image: url('../images/background_image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px ! important;
    padding: 20px;
    text-align: -webkit-center;
}

.main-container {
    max-width: 1000px ! important;
    padding-left: 60px;
    text-align: -webkit-center;
}

#language-toggle {
    position: relative;
    top: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0 5px;
}

header p {
    font-size: 14px;
    color: gray;
}

main {
    text-align: center;
}

main h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 70px !important;
    text-align: -webkit-center ! important;
    font-size: 30px !important;
}

.action-button {
    width: 500px !important;
    padding: 10px;
    color: black;
    background-color: #36E39B;
    text-decoration: none;
    place-content: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s;
}

.login-button {
    width: 100% !important;
    padding: 10px;
    color: black;
    background-color: #36E39B;
    text-decoration: none;
    place-content: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s;
}

.action-button-black {
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
    text-decoration: none ! important;
    place-content: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s;
}

.span-or {
    font-size: 14px !important;
    color: black;
}

.logo {
    width: 300px;
    /* height: 100px; */
    display: block;
    /* margin: -50px auto; */
}

#welcome-text {
    /* font-size: 34px; */
    font-size: 44px;
    width: 500px ! important;
    color: #333;
    margin: 150px 0 5px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    padding: 10px;
    /* margin: 10px 0 10px; */
    /* gap: 10px; */
    background-color: white;
    border: 1px solid gainsboro;
}

.form-fields-arabic{
    text-align: right;
}

.form-fields-english{
    text-align: left;
}

/* country code */

.iti {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

.iti {
    &.iti--allow-dropdown {
        &.iti--separate-dial-code {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            width: 300px;
            /* background-color: #fff; */
        }
    }
}


div.iti.iti--allow-dropdown.iti--separate-dial-code {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 500px ! important;
    background-color: #fff;
    /* font-size: 20px; */
}

div.iti__flag-container {
    position: relative;
    display: flex;
    align-items: center;
    /* padding-right: 10px; */
    /* border-right: 1px solid #ccc; */
}

div.iti__selected-flag {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* placeholder font size */

input::placeholder {
    font-size: 20px;
}

.modal-body input::placeholder {
    font-size: 16px;
}

input {
    padding-left: 10px !important;
}

.no-border {
    border: none !important;
}

main h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.steps-indicator {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.step {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
}

.step.completed {
    background-color: #2ecc71;
}

.step.active {
    background-color: #3498db;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555;
    /* text-align: right; */
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.visitor-type,
.gender {
    display: flex;
    justify-content: space-between;
}

.type-option,
.gender-option {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    font-size: 14px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.type-option.active,
.gender-option.active {
    background-color: #2ecc71;
    color: white;
}

.submit-button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2980b9;
}

.tw-center {
    text-align: -webkit-center;
}

.login-info {
    margin-bottom: 50px;
    margin-top: 50px;
    color: black !important;
    font-weight: 600 !important;
    width: 600px !important;
}

.login-info p {
    margin: 5px 0;
}

.login-info div {
    margin: 5px 0;
}

.login-info span {
    font-weight: bold;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.companions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 20px;
    /* width: 80%; */
}

.companion-card {
    border: 1px solid #ddd;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    width: 260px !important;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.companion-card p {
    margin: 5px 0;
    font-size: 14px;
}

.hidden {
    display: none;
}

#companion-form {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#companion-form h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

#companion-form input,
#companion-form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#save-companion {
    padding: 8px;
    font-size: 14px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-companion:hover {
    background-color: #2980b9;
}

.add-companion-button {
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #36E39B;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-companion-button:hover {
    background-color: #27ae60;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-end {
    text-align: end !important;
}

/* modal */
.modal-content {
    background-image: url('../images/background_image.png') ! important;
    background-size: cover !important;
    background-position: center ! important;
    background-attachment: fixed ! important;
    background-repeat: no-repeat ! important;
    border-radius: 8px;
    padding: 20px;
}

/* .modal-body{
    background-image: url('../images/background_image.png') ! important;
    background-size: cover !important;
    background-position: center ! important;
    background-attachment: fixed ! important;
    background-repeat: no-repeat ! important;
} */

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.btn-age {
    width: 40px ! important;
    height: 40px ! important;
    border-radius: 50%;
    font-size: 18px;
}

.btn-black {
    background-color: black ! important;
    color: white ! important;
}

.btn-white {
    background-color: white ! important;
    color: black ! important;
}

#companion-age {
    width: 180px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    font-size: 16px;
}

.gender-btn {
    width: 50%;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #A7A8AA;
    background-color: #A7A8AA ! important;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-btn {
    width: 40%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: black ! important;
    color: white ! important;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cancel-btn {
    width: 40%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    background-color: white ! important;
    color: black ! important;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.gender-btn.active {
    background-color: #36E39B ! important;
    color: #fff ! important;
    border-color: #36E39B ! important;
}

.gender-btn:last-child {
    margin-right: 0;
}

a,
button {
    text-decoration: none !important;
}

.bg-green {
    background-color: #2ecc71 ! important;
}

/* input[type="checkbox"] {
    appearance: none;
    background-color: #f0f0f0 !important;
}

input[type="checkbox"]:checked {
    background-color: #36E39B ! important;
    border-color: #36E39B ! important;
} */

/* input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36E39B ! important;
} */

input[type="checkbox"] {
    accent-color: #36E39B ! important;
    /* Sets the color when checked */
    width: 20px;
    /* Optional: adjust size */
    height: 20px;
    /* Optional: adjust size */
    cursor: pointer;
    /* Pointer cursor for better UX */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* table */
thead>tr>th {
    background-color: #36E39B !important;
    border: 1px solid black !important;
}

tbody>tr>td {
    border: 1px solid black !important;
}

.width-680 {
    width: 680px !important;
}

#select-companion {
    margin-left: 80px;
}

.border-bottom-1 {
    border-bottom: 1px solid gainsboro !important;
    /* margin-left: 80px; */
}

/* Laptop Display block */
.laptop-block {
    display: block ! important;
}

.laptop-none {
    display: none ! important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 231px !important;
    /* width: 231px; */
    margin: 0;
    padding: .8em 1em 0;
    color: inherit;
    font-size: 1em ! important;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    /* width: 0em !important; */
    max-width: 231px !important;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: hsl(0, 0%, 33%);
    font-family: inherit;
    font-size: 1rem;
}

.arabic{
    direction: rtl;
}

.english{
    direction: ltr;
}

.place-content-center{
    place-content: center;
}

.text-red{
    color: #209967;
    font-size: 17px !important;
}